.top img {
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  height: 100px;
}
img {
  height: 280px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.container-fluid {
  position: relative;
}

.first {
  border: 2px solid darkblue ;
  height: 450px;
  margin-left: 12%;
  color: darkblue;
  text-align: left;
}
.second {
  border: 2px solid darkblue ;
  height: 450px;
  text-align: center;
  font-size: 16px;
  /*padding-left: 15%;
  padding-right: 15%;*/
  font-family: 'Ariel', sans-serif;
  color: darkblue;
}
.btn-default {
  font-size: 16px;
  background-color: blue;
  color: white;
  position: absolute;
  width: 85px;
  height: 40px;
}
.btn-default:hover {
  font-size: 16px;
  background-color: darkblue;
  color: white;
}
.bottom .boxed {
  border: 2px solid goldenrod ;
  height: 350px;
  width: 50%;
  display: left;
  margin-top: 5%;
}
#content {
  font-size: 16px;
  color: goldenrod;
  display: left;
}
h2 {
  text-decoration: underline;
}
input {
  font-size: 12px;
  width: 50%;
  clear: both;
}
#removeButton {
  size: 12px;
  float: right;
  display: right;
  margin-right: 5%;
  margin-top: 40%;
  position: absolute;
  TOP:800px;
  LEFT: 950px;
}
label {
  display:inline-block;
  width:90px;
}
#state {
    width:300px;
}
